{% extends "registration/base.html" %}

{% load bootstrap3 %}
{% load static %}  

{% block title %}SIEI-IFFar | Login{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <br> 
        <h2 align='center'>Sistema de Informação para Coleta de Indicadores de Atletas em Esportes de Invasão | SIEI</h2>        
        <hr>
        <p align='justify'>
          O Sistema de Informação para Coleta de Indicadores de Atletas em Esportes de Invasão (SIEI) é uma iniciativa do Instituto Federal Farroupilha – Campus Santo Augusto, sob coordenação do professor de Educação Física Fabrício Doring Martins. O projeto conta com a parceria do Laboratório de Práticas da Computação da Universidade Franciscana (UFN), onde alunos dos cursos da área de Computação contribuem com o desenvolvimento do sistema utilizando a tecnologia web Python-Django.
        </p>
        <p>
          Integrantes:
        </p>
        <ul>
          <li>Fabrício Doring Martins - professor de Educação Física (IFFar Santo Augusto) - líder do projeto</li>
          <li>Henrique ? - professor de Ciência da Computação (IFFar Santo Augusto) - colaborador do projeto</li>
          <li>Alexandre Zamberlan - integrante Laboratório de Práticas da Computação UFN - responsável técnico</li>
          <li>Sylvio Vieira - coordenador do Laboratório de Práticas da Computação UFN</li>
          <li>Camille Rodrigues - Aluna voluntária do curso Sistemas de Informação UFN</li>          
          <li>Gabriel Morais - Aluno voluntário do curso Ciência da Computação UFN</li>
        </ul>
        <hr>
        <p align='center'>
          <label class="text-info">Contate lapinf@ufn.edu.br para informações.</label>
        </p>
      </div> 
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="text-center">
            <br> 
            <a href="https://iffar.edu.br" target="_blank"><img src="{% static 'core/img/logoiffar_transparente.png' %}"
              style="width: 240px;"></a>      
            <h3 align='center'>Santo Augusto</h3>
          </div>  
          <br>
          <div class="account-wall">
            <form class="form-signin" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <span class="clearfix"></span>
            <p style="text-align:center;">
              <button type="submit" style="width:100%;" class="btn btn-primary btn-small" >
                {% bootstrap_icon 'glyphicon glyphicon-off' %} Entrar
              </button>
            </p>
            <p style="text-align:center;">
              <a class="btn btn-info" style="width:49%;" href="{% url 'usuario_register' %}">{% bootstrap_icon 'glyphicon glyphicon-user' %} Criar conta</a>
              <a class="btn btn-warning" style="width:49%;" href="{% url 'password_reset' %}">{% bootstrap_icon 'glyphicon glyphicon-flag' %} Resetar senha</a>
            </p>
            </form>
          </div>
          <br>
          <div class="text-center">
            <a href="https://lapinf.ufn.edu.br" target="_blank"><img src="{% static 'core/img/logo_lapinf_hor.png' %}"
              style="width: 160px;"></a>                         
            {% comment %} <a href="https://www.ufn.edu.br" target="_blank"><img src="{% static 'core/img/logoUFN_hor.jpg' %}"
              style="width: 120px;"></a> {% endcomment %}
          </div>
          <div align="center">
            <hr>
            <p align='center'>
              <label class="text-info">Todos os direitos reservados | Desde 2025.</label>
            </p>
          </div>
      </div>
    </div>
{% endblock %}
